assets/images/logos/logo-black.png filter=lfs diff=lfs merge=lfs -text
assets/images/logos/logo-icon-only.png filter=lfs diff=lfs merge=lfs -text
assets/images/logos/logo-primary.png filter=lfs diff=lfs merge=lfs -text
assets/images/logos/logo-secondary.png filter=lfs diff=lfs merge=lfs -text
assets/images/logos/logo-white.png filter=lfs diff=lfs merge=lfs -text
assets/images/logos/hi-res/logo-black-hi-res.png filter=lfs diff=lfs merge=lfs -text
assets/images/logos/hi-res/logo-primary-hi-res.png filter=lfs diff=lfs merge=lfs -text
assets/images/logos/hi-res/logo-secondary-hi-res.png filter=lfs diff=lfs merge=lfs -text
assets/images/logos/hi-res/logo-white-hi-res.png filter=lfs diff=lfs merge=lfs -text