:root {
    --primary           : #2E4398;
    --primary-rgb       : rgb(46, 67, 152);
    --primary-rgb-vals  : 209, 110, 69;
    --secondary         : #ED6F35;
    --secondary-rgb     : rgb(237, 111, 53);
    --secondary-rgb-vals: 46, 67, 152;
    --blue              : #3a6ed3;
    --black             : #232628;
    --white             : #fff;
    --white-soft        : #f5f5f5;
    --grey-x-light      : #cdcdcd;
    --grey-light        : #888888;
    --grey-dark         : #676767;
    --red               : #ea0c0c;
    --max-width         : 1140px;
    --nav-height        : 85px;
    --primary-font      : 'Montserrat', sans-serif;
    --general-padding   : 1rem;
}

*,
*:before,
*:after {
    box-sizing : border-box;
    font-family: var(--primary-font);
}

html,
body {
    scroll-behavior: smooth;
    overflow-x     : hidden;
    max-width      : 100vw;
}

body {
    margin                 : 0;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color       : var(--grey-x-light);
}

section {
    background-color: var(--white);
}

section div.inner {
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : var(--general-padding);
}

a {
    color          : var(--primary);
    text-decoration: none;
    transition     : color 0.3s;
}

a:hover {
    color: var(--secondary);
}

a:focus:not(nav a) {
    color: var(--white);
}

svg {
    width : 12px;
    height: auto;
}

input {
    width        : 100%;
    height       : 40px;
    border       : none;
    border-radius: 2px;
    background   : var(--white);
    color        : var(--black);
    font-weight  : 600;
    padding      : 8px;
}

select {
    width        : 100%;
    height       : 40px;
    padding      : 0 8px;
    font-weight  : 500;
    border       : none;
    border-radius: 2px;
}

nav {
    height       : var(--nav-height);
    background   : var(--white);
    padding      : 0 var(--nav-height);
    border-bottom: solid 1px var(--primary);
}

nav ul {
    margin         : 0;
    display        : flex;
    height         : 100%;
    padding        : 0;
    align-items    : center;
    gap            : 48px;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
}

nav ul a {
    color      : var(--black);
    font-weight: 600;
}

nav ul a.current {
    color: var(--primary);
}

nav ul a.logo-link {
    height      : 65%;
    margin-right: auto;
}

nav ul a.logo-link img {
    height: 100%;
    width : auto;
}

section#index-header {
    position: relative;
}

section#index-header div.inner {
    height: 600px;
}

section#index-header div.inner>div.left {
    height         : 100%;
    width          : 60%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    position       : relative;
    z-index        : 2;
}

section#index-header div.inner>div.left p {
    max-width     : 800px;
    font-size     : 24px;
    line-height   : 1.35;
    letter-spacing: 0.3px;
}

section#index-header div.inner>div.right {
    height: 100%;
    width : 40%;
}

.carousel {
    position: absolute !important;
    width   : 100%;
    height  : 100%;
    left    : 0;
    top     : 0;
    z-index : 1;
}

.carousel-cell,
.carousel-cell img {
    height: 100%;
}

#landing-title-container {
    margin     : 0;
    color      : var(--primary);
    font-size  : 52px;
    font-weight: 400;
    display    : flex;
    gap        : 12px;
}

#landing-title-container>div {
    position: relative;
    display : flex;
}

#landing-title-container>div>span {
    opacity       : 0;
    pointer-events: none;
    transition    : opacity ease 1s;
}

#landing-title-container>div>span:nth-child(n+2) {
    position: absolute;
    left    : 0;
}

#landing-title-container>div>span.showing {
    opacity       : 1;
    pointer-events: all;
}

#panel-section {
    padding: 120px 0;
}

#name-panel-container {
    display      : grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap     : 32px;
    width        : 100%;
    margin       : auto;
    max-width    : 1300px;
}

.name-panel {
    display   : flex;
    background: var(--white-soft);
    overflow  : hidden;
    position  : relative;
}

.name-panel>div.left {
    padding       : 24px;
    color         : var(--black);
    display       : flex;
    flex-direction: column;
    width         : 55%;
}

.name-panel>div.left h2 {
    margin     : 0;
    font-size  : 32px;
    font-weight: 400;
}

.name-panel>div.left a {
    margin-top : auto;
    font-weight: 500;
}

.name-panel>div.right {
    position       : absolute;
    width          : 45%;
    right          : 0;
    display        : flex;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;
    height         : 100%;
}

.name-panel>div.right img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.name-panel.michael>div.right img {
    object-position: top;
}